on:
  schedule:
    - cron: "0 0 * * *"
    
name: build

jobs:
  render:
    name: build
    runs-on: ubuntu-24.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v2
        with: 
          extra-repositories: 'https://tbep-tech.r-universe.dev'
      - uses: r-lib/actions/setup-pandoc@v2
      - name: Setup Ubuntu dependencies
        run: |
          sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable
          sudo apt-get update
          sudo apt-get install libudunits2-dev libgdal-dev libgeos-dev libproj-dev libsqlite3-dev
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::dplyr
            any::sf
            tbeptools
   
      - name: Build data
        run: Rscript -e 'source("R/dat_build.R")'
      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add -A
          git commit -m 'Re-build data' || echo "No changes to commit"
          git push origin || echo "No changes to commit"